<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<head>
{# links from custom templates for ecom #}
 {% include 'store/components/link.html' %}

	{% block head %}
	{% endblock %}
	
</head>
<body>
 {# navbar component for ecom #}
 {% include 'store/components/navbar.html' %}

 {% block body%}
 
 {% endblock %}
 </body>
<script>
// script from custom template for ecom stored in static files
{% include 'store/components/script.html' %}	
	
</script>
</html>
