{% extends 'store/main.html' %}
{% load static %}


{% block head %}
 
 	<title>Store</title>	

{% endblock %}


{% block body %}

{% if request.user.is_authenticated %}
<h2>USER IS LOGGED IN !!!</h2>

{% endif %}

 <h1>Products</h1>
 
	<div class="row">	
		{% for product in products %}



		<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    {# <img src="{{product.image.url}}" alt="Image placeholder" class="img-fluid"></a> #}
                    <img class="img-fluid" src="{% static "images/placeholder.png" %}" >
                  </figure>
                  <div class="block-4-text p-4">
					<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
					<a class="btn btn-outline-success" href="#">View</a>
                    <h6 class=" font-weight-bold">{{product.name}}</h6>
                    <h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>
                  </div>
                </div>
              </div>




		{% endfor %}
	</div>


{% endblock %}